body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(246, 246, 246, 0.938);
}
a{
    text-decoration: none;
}
/* menubar */
.menubar{
    display: flex;
}

/* sidebar */
.sidebar{
    width: 80px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    left: 0px;
    overflow: hidden;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.823);
    box-shadow: 1px 1px 2px rgb(229, 229, 229);
}
.sidebar-open {
    width: 250px;
    height: 100vh;
    box-sizing: content-box;
    position: fixed;
    z-index: 10;
    left: 0px;
    transition: 0.5s;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 2px rgb(229, 229, 229);
}
.sidebar.open{
    width: 1000px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    position: fixed;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.778);
    box-shadow: 1px 1px 2px rgb(229, 229, 229);
} 
.sidebar ul{
    width: 100%;
    text-align: left;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.sidebar img{
    width: 50px;
    margin: 20px 17px 30px;
}
.sidebar ul li img{
    width: 30px;
    margin: auto;
}
.sidebar ul li{
    list-style-type: none;
    line-height: 60px;
    width: 200px;
    height: 50px;
    padding: 10px 27px;
    display: flex;
}
.sidebar ul li a{
    display: flex;
}
/* TEXT */
.menutext,
.menutext2,
.menutext3,
.menutext4{
    margin: -5px 23px;
    text-decoration: none;
    font-family: 'quicksand', sans-serif;
    color: #232323;
    font-weight: 700;
    transition: 2s;
    display: block; 
    width: 200px;
}
.menutext-open{
    margin: -5px 23px;
    text-decoration: none;
    font-family: 'quicksand', sans-serif;
    color: #232323;
    font-weight: 700;
    display: flex;
    transition: 2s;

}
.menutext2-open{
    margin: -5px 23px;
    text-decoration: none;
    font-family: 'quicksand', sans-serif;
    color: #232323;
    font-weight: 700;
    display: flex;
    transition: 2s;

}
.menutext3-open{
    margin: -5px 23px;
    text-decoration: none;
    font-family: 'quicksand', sans-serif;
    color: #232323;
    font-weight: 700;
    display: flex;
    transition: 2s;

}
.menutext4-open{
    width: 200px;
    margin: -5px 23px;
    text-decoration: none;
    font-family: 'quicksand', sans-serif;
    color: #232323;
    font-weight: 700;
    display: flex;
    transition: 2s;

}


/* navbar */
.navbar{
    width: 100%;
    height: 65px;
    margin-left: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0.778);
    box-shadow: 1px 1px 4px rgb(197, 197, 197);
}
.navbar-open{
    width: 100%;
    height: 65px;
    margin-left: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    box-sizing: content-box;
    background-color: rgba(255, 255, 255, 0.778);
    box-shadow: 1px 1px 4px rgb(197, 197, 197);
}
.navbar .menu{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;
}
.navbar .menu img{
    width: 40px;
}

/* content */
.content{
    width: 1420px;
    margin: 10px 10px 10px 90px;
    display: flex;
    gap: 20px;
}
.card-content{
    width: 1430px;
    height: 665px;
    overflow: scroll;
    margin: 10px 10px 10px 90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 4px rgb(197, 197, 197);
}
.data-dokter,
.data-pasien{
    width: 415px;
    height: 120px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 4px rgb(197, 197, 197);
    border-radius: 15px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
}
.data-pasien img,
.data-dokter img{
    width: 70px;
}
.data-pasien .text,
.data-dokter .text{
    margin: -10px 0px 0px 20px;
}
.data-pasien p:first-child,
.data-dokter p:first-child{
    font-family: 'quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: rgb(107, 107, 107);
    margin: 0;
}
.data-pasien p:last-child,
.data-dokter p:last-child{
    font-family: 'quicksand', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}
.recent-comment{
    width: 530px;
    height: 295px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(197, 197, 197);
    padding: 10px;
    font-family: 'quicksand', sans-serif;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}
.recent-consult{
    width: 530px;
    height: 295px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(197, 197, 197);
    padding: 10px;
    font-family: 'quicksand', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.recent-comment p,
.recent-consult p{
    margin: 0px 15px;
    color: rgb(107, 107, 107);
}
/* center content */
.center-content{
    position: absolute;
    margin-top: 215px;
    top: 0px;
    margin-left: 90px;
    width: 850px;
    height: 510px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 1px 1px 4px rgb(197, 197, 197);
}
.graphic-class{
    width: 830px;
    height: 450px;
}
.graphic-class p{
    margin-left: 20px;
    margin-top: 10px;
    font-size: 30px;
    color: rgb(107, 107, 107);
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}
.card-content p{
    font-size: 30px;
    margin: 0px 30px;
    font-family: 'quicksand', sans-serif;
    font-weight: 700;
}
.table{
    margin: 20px 20px;
}
.table .table1{
    width: 1390px;

} 
.table1{
    margin: 20px auto 0px;
    color: #232323;
    border-collapse: collapse;
}
.table1 tr th{
    border: 1px solid rgb(200, 200, 200);
    padding: 25px 40px;
    box-sizing: border-box;
}
.table1 td{
    border: 1px solid rgb(200, 200, 200);
    padding: 15px;
}
.table table tr th,
.recent-consult table tr th,
.recent-comment table tr th{
    font-size: 13px;
    background-color: #232323;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}
.table table tr td,
.recent-consult table tr td,
.recent-comment table tr td{
    font-size: 14px;
    text-align: center;
    color: rgb(25, 25, 25);
    font-family: 'Quicksand', sans-serif;
}
.gambar{
    width: 70px;
    text-align: center;
    padding: 0px 0px;
}

/* edit */
.action a:first-child{
    width: 30px;
    height: 30px;
    background-color: rgb(87, 171, 255);
    border-radius: 5px;
}
.action a:last-child{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 0, 0);
    border-radius: 5px;
}
.action a img{
    margin-top: 7px;
    width: 15px;
}
.table table tr th:last-child{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100px;
}
.table table .action{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 68px;
    height: 110px;
}
/* tombol tambah */
.button{
    margin: 0;
}
.btn-tmbh{
    background-color: #000000;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    font-family: 'quicksand', sans-serif;
    text-decoration: none;
    color: rgb(188, 188, 188);
    font-size: 40px;
    font-weight: bold;
    box-shadow: 2px 2px 3px #d4d4d4;
    margin-right: 10px;
}
.btn-tmbh p{
    margin-top: 40px;
}

/* edit */
.form-edit{
    margin-left: 20px;
}
.form-edit table tr th{
    text-align: left;
    font-family: 'quicksand', sans-serif;
    padding-top: 15px;
}
.form-edit table tr td{
    text-align: left;
    font-family: 'quicksand', sans-serif;
}
.form-edit table tr td input[type=text], input[type=number], textarea{
    width: 1360px;
    height: 30px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid rgb(206, 206, 206);
    font-family: 'quicksand', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 13px;
}
input[type=file] {
    width: 250px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #555;
  }
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #7e7e7e;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: .1s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #575757;
  }
.form-edit table tr td input[type=radio]{
    height: 15px;
    width: 15px;
    font-family: 'quicksand', sans-serif;
}
/* button simpan & cancel */
.btn-simpan-cancel{
    margin-left: 1210px;
}
.btn-simpan-cancel a{
    text-decoration: none;
    color: black;
    border-radius: 20px;
    background-color: red;
    padding: 5px 10px;
    font-size: 15px;
    font-family: 'quicksand', sans-serif;
    text-transform: uppercase;
    margin: 5px;
    box-shadow: 2px 2px #d4d4d4;
    cursor: pointer;
    font-weight: 700;
}
.btn-simpan-cancel input{
    background-color: #5BCC66;
    width: 75px;
    height: 30px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 5px;
    font-family: 'quicksand', sans-serif;
    box-shadow: 2px 2px #d4d4d4;
    cursor: pointer;
    font-weight: 700;
}
